<div layout="column" ng-cloak class="md-inline-form">
  <md-progress-linear ng-if="submiting" md-mode="indeterminate"></md-progress-linear>
  <md-content layout-padding>
    <div>
      <form name="usecaseForm">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Title</label>
          <input ng-model="usecase.title" required>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Body</label>
          <textarea ng-model="usecase.body" md-maxlength="150" rows="5" md-select-on-focus></textarea>
        </md-input-container>
        <md-input-container class="md-block">
          <md-button ng-click="onSubmitFormClick()" class="md-raised md-primary" ng-disabled="usecaseForm.$invalid">
            Submit
          </md-button>
        </md-input-container>
      </form>
    </div>
  </md-content>
</div>