<md-content class="md-padding" layout-xs="column" layout="row" layout-wrap>
  <md-progress-linear ng-if="loading" md-mode="indeterminate"></md-progress-linear>
  <div flex-xs flex-gt-xs="50" layout="column" ng-repeat="usecase in usecases track by usecase._id">
    <md-card md-theme="default">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" ng-bind="usecase.title"></span>
          <span class="md-subhead" ng-bind="usecase.body"></span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center" ng-if="usecase.milestones && usecase.milestones.length > 0">
        <md-button ng-click="onViewMilestonesClick(usecase)">View Milestones</md-button>
      </md-card-actions>
    </md-card>
  </div>
</md-content>