<md-dialog class="milestones-dialog" flex="90">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 ng-bind="usecase.title"></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="onCloseClick()">
          <ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div id="milestones-timeline">
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>