<!-- Toolbal -->
<md-toolbar class="md-hue-2" ng-controller="toolbarController">
  <div class="md-toolbar-tools">
    <h2>
      <span>Motius Test Project</span>
    </h2>
    <span flex></span>
    <md-button class="md-raised" aria-label="Usecases" ng-click="onUsecasesClick()">
      Usecases
    </md-button>
    <md-button class="md-raised" aria-label="Add" ng-click="onAddUsecaseClick()">
      + Add
    </md-button>
  </div>
</md-toolbar>